In [1]:
#adult dataset preprocessing

import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('adult.data', sep=",", header=None)

In [3]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [4]:
df.shape

(699, 11)

In [5]:
df.isnull().sum().sum()

0

In [6]:
dict = {}
cols = [feat + str(i) for feat in df.columns]
cols=['radius' ,'texture','perimeter','area',
      'smoothness' ,'compactness' ,'concavity',
      'concave_points' , 'symmetry' ,'fractal_dimension', "Diagnosis"]
for i, col in zip(df.columns, cols):
    dict[i] = col

df = df.rename(dict, axis = "columns")

In [7]:
df.head()

,radius,texture,perimeter,area,smoothness,compactness,concavity,concave_points,symmetry,fractal_dimension,Diagnosis
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2

In [8]:
df.Diagnosis.value_counts()

2    458
4    241
Name: Diagnosis, dtype: int64

In [9]:
target = {2: 0, 4:1}
df.Diagnosis = df.Diagnosis.replace(target)

In [10]:
df.head()

,radius,texture,perimeter,area,smoothness,compactness,concavity,concave_points,symmetry,fractal_dimension,Diagnosis
0,1000025,5,1,1,1,2,1,3,1,1,0
1,1002945,5,4,4,5,7,10,3,2,1,0
2,1015425,3,1,1,1,2,2,3,1,1,0
3,1016277,6,8,8,1,3,4,3,7,1,0
4,1017023,4,1,1,3,2,1,3,1,1,0

In [11]:
df.to_csv("breastCancer.csv", index = False)

In [12]:
df.Diagnosis.value_counts()

0    458
1    241
Name: Diagnosis, dtype: int64