In [1]:
import pandas as pd
import numpy as np

In [8]:
df = pd.read_excel("../input/Immunotherapy.xlsx", index_col = 0 )

In [9]:
df.head()

,age,Time,Number_of_Warts,Type,Area,induration_diameter,Result_of_Treatment
sex,,,,,,,
1,22,2.25,14,3,51,50,1
1,15,3.00,2,3,900,70,1
1,16,10.50,2,1,100,25,1
1,27,4.50,9,3,80,30,1
1,20,8.00,6,1,45,8,1

In [5]:
df.shape

(10506, 11)

In [37]:
df4 = pd.read_csv("../input/train_new.csv", index_col = 0)

In [39]:
df4.drop("Parch", axis = 1, inplace = True)

In [40]:
df4.columns

Index(['Survived', 'Pclass', 'Sex', 'SibSp', 'Fare', 'Embarked', 'Deck',
       'Title', 'port_sex', 'Age_bin', 'FamilySize', 'Ticket_freq'],
      dtype='object')

In [41]:
df4.to_csv("../input/train3.csv")